body{
    background: linear-gradient(rgb(200,30,170),rgb(10,60,170)) no-repeat center center fixed;
    background-size: cover;
}
h1{
    text-align: center;
    width: 70%;
    margin: 20px auto;
    font-size: 40px;
    transform: translateY(-150%);
    animation: title-animation .7s ease-out .5s forwards;
}
.line{
    border-top: 1px ridge;
    height: 1px;
    width: 70%;
    margin: 30px auto;
    transform: scale(0);
    animation: line-animation .8s linear 2s forwards;
}
#table-container{
    margin: auto;
    width: 450px;
    height: 450px;
    border: 1px solid black;
    transform: scale(0);
    animation: table-animation .8s linear 1s forwards;
}
table{
    width: 100.5%;
    height: 100.5%;
    outline: none;
    margin: 0;
    padding: 0;
    border: 4px solid black;
    border-collapse: collapse;
}
input{
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    outline: none;
    text-align: center;
    font-size: 150%;
    background: transparent;
    color: white;
}
td{
    border: 1px solid black;
}
#button-container{
    width: 100%;
    text-align: center;
    margin: 40px auto;
}
button{
    width: 8%;
    height: 30px;
    font-size: 20px;
    margin: 0px 10px;
    border-radius: 7px;
    border: none;
    background-color: #3276f5;
    transition-duration: .5s;
    transform: translateY(9999px);
    animation: btn-animation 1.4s ease-out forwards;
}
button:first-child{
    animation-delay: 1.5s;
}
button:last-child{
    animation-delay: 1.8s;
}
button:hover{
    cursor: pointer;
    background-color: #0139a0;
    color: white;
}
button:focus{
    outline: none;
    box-shadow: 0 0 3px 5px #0355ec;
}

@keyframes title-animation {
    0%{
        transform: translateY(-100%);
    }
    60%{
        transform: translateY(20%);
    }
    80%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes table-animation {
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes line-animation {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes btn-animation {
    0%{
        transform: translateY(1000%);
    }
    60%{
        transform: translateY(-50%);
    }
    80%{
        transform: translateY(60%);
    }
    90%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0%);
    }
}
.solution {
    opacity: 0;
    animation: animate-sol 1s linear forwards;
}
@keyframes animate-sol {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#unsolvable {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
    background-color: #8686f311;
    cursor: pointer;
    text-align: center;
}
#text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(157, 247, 247);
    transform: translate(-50%,-50%);
}
.font-enlarge {
    font-size: 0px;
    animation: font-animation .6s linear .3s forwards;
}
@keyframes font-animation {
    0% {
        font-size: 0px;
    }
    80% {
        font-size: 110px;
    }
    100% {
        font-size: 100px;
    }
}